body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#182A42;
  color: #ffffff; 

}

.home {
  width: 100%;
}

.profile-photo {
  height: 400px;
  float: right;
  margin-left: 75px;
  clear: both;
}

@media screen and (max-width: 600px) {
  .profile-photo {
    display: block;
    margin:auto;
    float: none;
    height: 300px;
  }
}

.intro-p {
  margin-right: 0px;
  overflow: auto;
  display: block;
  padding-bottom: 25px;
}

.intro-text {
  font-size: 50px;
}

@media screen and (max-width: 600px) {
  .intro-text {
    font-size: 40px;
    padding-left: 25px;
  }
  .intro-p {
    padding-right: 25px;
    padding-left: 25px;
  }

}

.nav-list {
  list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

.nav-item {
 float: right;
}

.nav-link {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 45px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 400px){
  .nav-item {
    width: 33%;
  }
  .nav-link {
    padding: 20px 26px;
  }
}

.nav-link:hover {
  background-color:#C35439;
}

.nav-bar {
  display: block;
}

.main-content {
  margin: auto;
  max-width: 75%;
  padding-top:100px;
}

@media screen and (max-width: 500px) {
  .main-content {
    padding-top: 0px;
    margin: auto;
  }
}

.contact-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #c45326;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
}

.contact-me:hover {
  cursor: pointer;
  background-color: #9c3209;
}

/*Projects Page*/
.repo-list {
  padding-bottom: 100px;
}

/*RESUME PAGE*/
.solid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.course-table, th, td {
  border-collapse: collapse;
  border: 1px solid;
}

th, td {
  padding: 3px 15px;
}

.my-resume > h1, h2, h3, p {
  margin: 0;
}

.resume-link {
  color:#c45326;
  text-decoration: underline;
}

.resume-link:visited {
  color:#ffffff;
}

.resume-link:hover {
  color:#c45326;
}

.final-text {
  padding-bottom: 100px;
}

/*FOOTER*/
.footer {
  background-color: #c45326;
  position: fixed;
  width: 100%;
  bottom: 0;
  color:#ffffff;
  font-size: 15px;
  text-align: center;
}

.footer-text {
  padding-top:20px;
  padding-bottom: 20px;
}

.footer-email {
  text-decoration: none;
  color:#f1faee;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
